<div class="container col-lg-11">
  <div class="d-flex">
    <div class="form-inline mt-2 mr-auto">
      <div class="form-group mb-2">
        <input type="text" 
        class="form-control mr-2" 
        placeholder="Buscar"
        [(ngModel)]="listFilter">
      </div>
    </div>
    <div>
      <button class="btn btn-success mt-2" (click)="newResidence(residenceTemplate)">
        <i class="fa fa-plus-circle"></i>&nbsp;
        Adicionar Imovel
      </button>
    </div>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Rua</th>
        <th>Número</th>
        <th>Complemento</th>
        <th>Bairro</th>
        <th>Tipo</th>
        <th>CEP</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Alugado</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="residenceService.residences && residenceService.residences.length">
      <tr *ngFor="let residence of residenceService.filteredResidences">
        <td>{{residence.residenceId}}</td>
        <td>{{residence.streetAddress}}</td>
        <td>{{residence.numberAddress}}</td>
        <td>{{residence.complement}}</td>
        <td>{{residence.neighborhood}}</td>
        <div *ngFor="let residenceType of residenceTypeService.filteredResidenceTypes">
          <td *ngIf="residence.residenceTypeId == residenceType.residenceTypeId">
            {{residenceType.residenceTypeName}}
          </td>
        </div>
        <td>{{residence.zipCode}}</td>
        <td>{{residence.city}}</td>
        <td>{{residence.state}}</td>
        <td>
          <input *ngIf="residence.rented == true" type="checkbox" class="form-control" checked disabled>
          <input *ngIf="residence.rented == false" type="checkbox" class="form-control" disabled>
        </td>
        <td>
          <div class="btn-group">
            <button class="btn btn-sm btn-primary" 
            tooltip="Editar" (click)="editResidence(residence, residenceTemplate)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="deleteResidence(residence, confirmDlt)"> 
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  </table>
</div>

<!--Modal template picked up at the following link: https://valor-software.com/ngx-bootstrap/#/modals -->
<div bsModal #residenceTemplate="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Residência</h4>
        <button type="button" class="close pull-right" (click)="residenceTemplate.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>CEP</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('zipCode').errors && registerForm.get('zipCode').touched}" formControlName ="zipCode" (blur)="validateZipCode(registerForm.get('zipCode').value)">
              <div *ngIf="registerForm.get('zipCode').hasError('required') && registerForm.get('zipCode').touched" class="invalid-feedback">
                Insira um Cep Válido.
              </div>
            </div>
            <div class="form-group col-md-5">
              <label>Tipo de Residencia</label>
              <select type="number" class="form-control" [ngClass]="{'is-invalid': registerForm.get('residenceTypeId').errors && registerForm.get('residenceTypeId').touched}" formControlName="residenceTypeId">
                <option *ngFor="let residenceType of residenceTypeService.filteredResidenceTypes" value= {{residenceType.residenceTypeId}}>
                  {{residenceType.residenceTypeName}}
                </option>
              </select>            
              <div *ngIf="registerForm.get('residenceTypeId').hasError('required') && registerForm.get('residenceTypeId').touched" class="invalid-feedback">
                Escolha ou Cadastre um Tipo de Residência.
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Status</label>
              <select type="number" class="form-control" [ngClass]="{'is-invalid': registerForm.get('rented').errors && registerForm.get('rented').touched}" formControlName="rented">
                <option value="true">
                  Alugado
                </option>                
                <option value="false">
                  Disponível
                </option>
              </select>
              <div *ngIf="registerForm.get('rented').hasError('required') && registerForm.get('rented').touched" class="invalid-feedback">
                Defina o Status da Residência.
              </div>
            </div>
            <div class="form-group col-md-9">
              <label>Rua</label>
              <input type="text" readonly="true" class="form-control" formControlName="streetAddress">
            </div>
            <div class="form-group col-md-3">
              <label>Número</label>
              <input type="number" class="form-control" [ngClass]="{'is-invalid': registerForm.get('numberAddress').errors && registerForm.get('numberAddress').touched}" formControlName="numberAddress">
              <div *ngIf="registerForm.get('numberAddress').hasError('required') && registerForm.get('numberAddress').touched" class="invalid-feedback">
                Insira um Número Válido.
              </div>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-5">
              <label>Complemento</label>
              <input type="text" readonly="true" class="form-control" formControlName="complement">
            </div>
            <div class="form-group col-md-7">
              <label>Bairro</label>
              <input type="text" readonly="true" class="form-control" formControlName="neighborhood">
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-10">
              <label>Cidade</label>
              <input type="text" readonly="true" class="form-control" formControlName="city">
            </div>
            <div class="form-group col-md-2">
              <label>Estado</label>
              <input type="text" readonly="true" class="form-control" formControlName="state">
            </div>
          </div> 
        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="residenceTemplate.hide()">
          Fechar
        </button>
        <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="saveChanges(residenceTemplate)">
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>

<!--Modal template picked up at the following link: https://valor-software.com/ngx-bootstrap/#/modals -->
<div bsModal #confirmDlt="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Deletando Residencia
        </h4>
        <button type="button" class="close pull-right" (click)="confirmDlt.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{bodyDeleteResidence}}</p>
      </div>    
      <div class="modal-footer d-flex">   
          <button class="btn btn-outline-primary" (click)="confirmDlt.hide()">
            Cancelar
          </button>   			
          <button class="btn btn-danger ml-auto" (click)="confirmDelete(confirmDlt)">
            Deletar
          </button>
      </div>
    </div>
  </div>
</div>